<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ysd.dao.UserInfoMapper">
 	<select id="login" parameterType="student" resultType="student">
 		select stu_name,stu_id  from students where stu_name=#{stu_name} 
 	</select>
 	<insert id="addStudent" parameterType="student">
 		insert into student(stu_name,stu_id)values(#{stu_name},#{stu_id})
 	</insert>
 </mapper>